<% const onePlace = ( typeof place == 'undefined' )? {} : place %>
<% const formAction = `/add/${onePlace._id || ''}` %>
<form method="POST" action="<%=formAction%>" enctype="multipart/form-data">
  <!-- name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="name" value="<%=onePlace.name%>">
  </div>
  <!-- description -->
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" class="form-control" id="description"><%=onePlace.description%>  
    </textarea>
  </div>
  <!-- image upload -->
  <div class="form-group">
    <label for="photo">Photo</label>
    <input type="file" id="photo" name="photo" class="form-control" accept="image/gif, image/png, image/jpeg">
    <% if(onePlace.photo){ %>
    <img src="<%=`/uploads/${onePlace.photo}`%>" , alt="<%=onePlace.name%>" width=200>
    <% } %>
  </div>
  <!-- -address, lng and lat -->
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" id="address" name="location.address" onFocus="geolocate()" class="form-control" value="<%= onePlace.location && onePlace.location.address %>">
  </div>

  <div class="form-group">
    <label for="lng"> Address Lng </label>
    <input type="text" id="lng" name="location.coordinates[0]" class="form-control" value="<%= onePlace.location && onePlace.location.coordinates[0] %>"
      required>
  </div>

  <div class="form-group">
    <label for="lat"> Address Lat </label>
    <input type="text" id="lat" name="location.coordinates[1]" class="form-control" value="<%= onePlace.location && onePlace.location.coordinates[1] %>"
      required>
  </div>
  <!-- tags -->
  <div class="form-group form-check">
    <% const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegetarian', 'Licensed'] %>
    <% const tags = onePlace.tags || [] %>
    <% choices.forEach( choice => { %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="<%=choice%>" name="tags" value="<%=choice%>" <%=tags.includes(choice)
        ? "checked" : "" %> >
      <label class="form-check-label" for="<%=choice%>">
        <%=choice%></label>
    </div>
    <% }) %>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>