<div class="row">
  <% places.forEach((place) => { %>
    <div class="col-sm-12 col-md-6 col-lg-4 card-gutter">
      <div class="card">
        <% const imgSrc = `/uploads/${place.photo || 'place.png' }`%>
          <img class="card-img-top img-cropped" src="<%=imgSrc%>" alt="Card image here">
          <div class="card-body">
            <h5 class="card-title">
              <a href="<%=`/places/${place._id}`%>">
                <%=place.name%>
              </a>
            </h5>
            <p class="card-text ">
              <%=place.description.split('').slice(0, 25).join('')%>
                <% if(user && place.author.equals(user._id)) { %>
                  <a href="<%=`/places/${place._id}/edit`%>" class="btn btn-primary"><i class="fas fa-edit "></i>Edit</a>
                  <% } %>
            </p>
          </div>
      </div>
    </div>
    <% }) %>
</div>