<% include ./partials/_header %>
<h1>Edit Place</h1>

<% if (locals.flashes) { %>
<% const categories = Object.keys(locals.flashes) %>
<% categories.forEach(category => { %>
<% locals.flashes[category].forEach (message => { %>
<div class="alert alert-<%=category%>" role="alert">
  <%= message %>
  <% }) %>
</div>
<% }) %>
<% } %>

<form method="POST" action="/add/<%=`${place._id}`%>">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="name" value="<%=place.name%>">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" class="form-control" id="description"><%=place.description%>  
    </textarea>
  </div>
  <div class="form-group form-check">
    <% const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegetarian', 'Licensed'] %>
    <% const tags = place.tags || [] %>
    <% choices.forEach( choice => { %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="<%=choice%>" name="tags" value="<%=choice%>" <%=tags.includes(choice)
        ? "checked" : "" %> >

      <label class="form-check-label" for="<%=choice%>">
        <%=choice%></label>
    </div>
    <% }) %>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
</body>

</html>