<% include ./partials/_head %>
<title>
  <%=title%>
</title>
<% include ./partials/_navbar %>

<h1>
  <%=selectedTag || 'Tags'%>
</h1>
<!-- render tag buttons -->
<% tags.forEach(tag => { %>
<% const btnClass = (tag._id == selectedTag)?'btn btn-info': 'btn btn-secondary'%>
<a href="/tags/<%=tag._id%>">
  <button type="button" class="<%=btnClass%>">
    <%=tag._id%>
    <span class="badge badge-light">
      <%=tag.count%>
    </span>
  </button>
</a>
<% })%>

<%include ./partials/_placeCard %>
</body>

</html>